<%= form_for @comment do |f| %>
  <ul>
    <li>
      <%= f.label :body, "Body" %>
    </li>
    <li>
      <%= f.text_area :body %>
    </li>
    <li>
      <%= f.hidden_field :article_id %>
      <%= f.hidden_field :parent_id %>
    </li>
    <li>
      <%= f.submit class: 'btn btn-success' %>
    </li>
  </ul>
<% end %>

