  <div class="col-md-4">
    <div class="error">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>

    <div class="row avatar">
      <%= image_tag 'default_avatar.jpg', class: 'avatar', size: '200x200' %>
    </div>

    <%= form_for @user do |f| %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
      <%= f.submit class: 'btn btn-info' %>

    <% end %>

  <div class="col-md-8">
    <%= render text: 'some there' %>
  </div>
